<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.afterday.compas.app">
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.Manifest.permission.NETWORK_SETTINGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.location.gps"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="PDA Compass v.1906 a1"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".StalkerApp"
        android:largeHeap="true"
        android:allowClearUserData="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:permission="">
        <activity android:name="net.afterday.compas.app.MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="PDA Compass v.1906 a1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.afterday.compas.app.HiddenActivity"
            android:label="HiddenActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="reverseLandscape">
        </activity>
        <service android:name="net.afterday.compas.app.LocalMainService">
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.net.wifi.SCAN_RESULTS">
                </action>
            </intent-filter>
        </service>
        <receiver android:name=".sensors.WiFi.WifiImpl$WifiReceiver">
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="WifiManager.SCAN_RESULTS_AVAILABLE_ACTION"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ActionsReceiver">
            <intent-filter>
                <action android:name="ServiceControlls"></action>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_notification" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>